$main-color: #9F0013;
$dark: #232222;
$grey: #5C5C5C;
$black: #000;


$fz14: 1em;
$fz14lh16: 1.143em;

$fz18: 1.286em;
$fz18lh21: 1.167em;

$fz22: 1.571em;
$fz22lh26: 1.181em;

$fz24: 1.714em;
$fz24lh28: 1.166em;

$box-shadow: 5px 5px 20px rgb(0 0 0 / 25%);
$box-shadow2: 0px 0px 20px rgba(0, 0, 0, 0.25);
$box-shadow3: 0px 4px 4px rgba(0, 0, 0, 0.25);

$filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.25));
$filter2: drop-shadow(0px 5px 20px #9F0013);
