@import '../../style/variables.scss';

.randomchar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 3.571em;
  align-items: center;
  box-shadow: $box-shadow;
  @media (max-width: 700px) {
    grid-template-columns: 1fr;
  }

  &__block,
  &__static {
    padding: 2.5em;
  }

  &__block {
    display: flex;
    gap: 2.142em;
    color: #000;
    @media (max-width: 1000px) {
      flex-direction: column;
    }
    @media (max-width: 700px) {
      flex-direction: row;
    }
    @media (max-width: 500px) {
      flex-direction: column;
    }
  }

  &__static {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: #fff;
    background-color: $dark;
  }

  &__img {
    width: 12.857em;
    height: 12.857em;
    object-fit: cover;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__name {
    margin-bottom: 0.591em;
    font-weight: 700;
    font-size: $fz22;
    line-height: $fz22lh26;
    text-transform: uppercase;
  }

  &__descr {
    margin-bottom: 0.929em;
    font-size: $fz14;
    line-height: $fz14lh16;
  }

  &__title {
    margin-bottom: 1.864em;
    font-weight: 700;
    font-size: $fz24;
    line-height: $fz24lh28;
  }

  &__decoration {
    display: block;
    width: 14em;
    height: 13em;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  &__btns {
    display: flex;
    gap: 30px;
  }
}
